.flex_box {
    display: flex;
    text-align: center;
    font-size: 0.75em;
    overflow: hidden;
}
.flex_box img {
    height: 30vh;
}


.flex_box_content {
    margin: 5px;
    padding: 5px;
    transition: flex 0.5s;
    overflow: hidden;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .flex_box {
        flex-direction: column;
    }
}