.flex_box {
	display: flex;
	text-align: center;
	font-size: 0.8em;
	overflow: hidden;
	cursor: pointer;
}

.flex_box img {
	width: 15rem;
}

.flex_box_content {
	margin: 5px;
	padding: 1em 25px 1em 25px;
	transition: flex 0.7s;
	overflow: hidden;
	border-radius: 5px;
	/* background: #ffffff09; */
}

@media (max-width: 768px) {
	.flex_box {
		flex-direction: column;
	}
	.flex_box_content {
		margin: 1em;
		border: #ffffff22 solid 1px;
		box-shadow: 2px 2px 20px rgb(20, 245, 174, 0.05), -2px -2px 20px rgb(165, 140, 254, 0.05);
	}
}
