@font-face {
	font-family: "Sansation";
	src: url("./assets/fonts/sansation/Sansation_Light.ttf") format("truetype");
}

@font-face {
	font-family: "Rubik Glitch";
	src: url("./assets/fonts/Rubik_Glitch/RubikGlitch-Regular.ttf") format("truetype");
}

/* Defaults in all things */
.App-logo {
	height: 40vmin;
	pointer-events: none;
}

body {
	font-family: "Sansation", sans-serif;
	background-color: rgb(31, 31, 38);
	font-size: xx-large;
	color: rgb(235, 233, 242);
	margin: auto;
	text-align: center;
	align-items: center;
	align-content: center;
}

.flip-colours {
	color: rgb(31, 31, 38);
	background-color: rgb(235, 233, 242);
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
	width: 0.5rem;
	background-color: transparent;
}

/* Styling the scrollbar handle */
::-webkit-scrollbar-thumb {
	background: linear-gradient(135deg, rgb(20, 245, 174), rgb(165, 140, 254));
	/* Dark-grey color */
	border-radius: 10px;
	/* Rounded handle */
}

/* Super common styles */
.hardstuff {
	font-weight: lighter;
	font-family: "Rubik Glitch", sans-serif;
	background: linear-gradient(135deg, rgb(20, 245, 174), rgb(165, 140, 254));
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

a {
	background: linear-gradient(135deg, rgb(20, 245, 174), rgb(165, 140, 254));
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	font-weight: lighter;
	font-family: "Rubik Glitch", sans-serif;
}

.hardstuff-no-colour {
	font-weight: lighter;
	font-family: "Rubik Glitch", sans-serif;
}

.section {
	padding: 10vh 0 10vh 0;
	opacity: 0;
	animation-fill-mode: both;
    min-height: 60vh;
	/* Make sure the element retains the state after the animation */
	/* border: solid red 1px; */
}

.content {
	max-width: 66%;
	margin: 0 auto;
	margin-top: 3em;
	margin-bottom: 3em;
}

h1 {
	font-size: 10rem;
	margin-bottom: 1rem;
}

h2 {
	font-size: 2.5rem;
	margin-bottom: 1rem;
}

h3 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

button {
	border: none;
	padding: 1rem 2rem;
	font-size: 0.8em;
	font-weight: bold;
	cursor: pointer;
	background-color: rgb(235, 233, 242);
	transition: background-color 0.3s ease;
	border-radius: 1em;
	color: rgb(39, 48, 41);
	margin: 0.5em;
	font-family: inherit;
}

button:hover {
	background-color: rgb(224, 242, 133);
}

.iconned_button {
	border: 4px solid rgb(235, 233, 242);
	background: rgb(235, 233, 242);
	cursor: pointer;
	margin: 1em;
	width: 70%;
	margin-left: 15%;
}

.iconned_button_img {
	height: 32px;
	flex-shrink: 0;
	/* prevents the image from shrinking*/
	padding: 10px;
}

.iconned_button:hover {
	background-color: rgb(224, 242, 133);
	border-color: rgb(224, 242, 133);
}

.footer p {
	margin: 0;
}

/* Auto-scroll effect */
.scroll-container {
	display: inline-flex;
	font-size: 1.5em;
	overflow-y: hidden;
	justify-content: center;
	/* Center align items horizontally */
	/* margin: 100px; */
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.build,
.test,
.scroll-item,
.repeat {
	animation: fadeIn 0.5s ease-in forwards;
	opacity: 0;
	/* Start with elements invisible */
}

.scroll-item {
	margin: 0 10px;
	animation: bounce 2s infinite;
	animation-delay: 1.5s;
}

.build {
	animation-delay: 0.5s;
}

.test {
	animation-delay: 1s;
}

.repeat {
	animation-delay: 2s;
}

@keyframes bounce {
	0% {
		transform: translateY(100%);
		visibility: hidden;
		opacity: 0;
	}

	100% {
		transform: translateY(-100%);
		visibility: hidden;
		opacity: 0;
	}

	10%,
	90% {
		transform: translateY(0);
		visibility: visible;
		opacity: 1;
	}
}

/* Intersection Observer Animation */

/* Transition Effects */

@keyframes fadeInUp {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeOutDown {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.fade-in {
	animation: fadeInUp 3s forwards;
}

.fade-out {
	animation: fadeOutDown 3s forwards;
}

.pillar-content {
	font-size: 1em;
	animation: fadeInUp 2s forwards;
	/* padding-top: 1em; */
	/* padding-bottom: 1em; */
}

.pillar-content button {
	font-size: 1em;
	/* animation: fadeInUp 2s forwards; */
	padding: 0.35em;
	/* padding-bottom: 1em; */
	border: solid 1px;
	border-image: linear-gradient(135deg, rgb(20, 245, 174), rgb(165, 140, 254)) 30;
	border-image-slice: 1;
	border-radius: 0;
}

.mobile-only {
	display: none;
}

@media (max-width: 768px) {
	/* Mobile styles here */
	.content {
		max-width: 80%;
	}

	h1 {
		font-size: 5rem;
	}

	.iconned_button {
		margin: 20px 0px 20px 0;
		position: relative;
		width: 120%;
		/* Just an example */
		left: -10%;
	}

	.iconned_button_img {
		height: 18px;
		flex-shrink: 0;
		/* prevents the image from shrinking*/
		padding: 6px;
	}

	.scroll-container {
		display: flex;
		flex-direction: column;
		font-size: 1.5em;
		overflow-y: hidden;
		justify-content: center;
		/* Center align items horizontally */
	}

	.mobile-only {
		display: initial;
	}
	.ReactCollapse--collapse {
		transition: height 1000ms;
	}
}
